#directory in which you run the analysis
export base_dir=/mnt/bigdata/linuxhome/jwolters/hmmer_pipelines/DAG-HmmerSearch/test
#full path to pipeline folder, remember to update if you change versions or copied it
export pipeline_dir=/mnt/bigdata/linuxhome/jwolters/hmmer_pipelines/DAG-HmmerSearch
export conda=/opt/bifxapps/miniconda3/condabin/conda
#for scarcity you can use /opt/bifxapps/miniconda3/condabin/conda
###Requires conda environments for python with biopython
#and R with ggplot2
export pythonenv=/mnt/bigdata/linuxhome/jwolters/conda_envs/biopython
#for scarcity you can use: /mnt/bigdata/linuxhome/jwolters/conda_envs/biopython
export R_env=/mnt/bigdata/linuxhome/jwolters/conda_envs/R_env
#for scarcity you can use: /mnt/bigdata/linuxhome/jwolters/conda_envs/R_env
###Requires python2 and pydagman (give path to be appended to PYTHONPATH)
export python2=/opt/bifxapps/python/bin/python2.7 
#for scarcity you can use /opt/bifxapps/python/bin/python2.7 
export pydagman_location=/mnt/bigdata/linuxhome/jwolters/packages
#for scarcity you can use: /mnt/bigdata/linuxhome/jwolters/packages
###Full path to desired hmmer version
#note that pipeline is made to run using CentOS7 machines so it requires a compatible version
export hmmer_path=/opt/bifxapps/hmmer-3.3_c7/bin
#for scarcity you can use/opt/bifxapps/hmmer-3.3_c7/bin
###Desired evalue cutoff for hmmer hits
export evalue=0.001
###Required tools for tree building
export clustalo=/home/GLBRCORG/jwolters/packages/bin/clustalo-1.2.4-Ubuntu-x86_64
#for scarcity you can use /home/GLBRCORG/jwolters/packages/bin/clustalo-1.2.4-Ubuntu-x86_64
export trimal=/home/GLBRCORG/jwolters/packages/trimal/source/trimal
#for scarcity you can use /home/GLBRCORG/jwolters/packages/trimal/source/trimal
export fasttree=/home/glbrc.org/jwolters/packages/FastTree/FastTree
#for scarcity you can use /home/glbrc.org/jwolters/packages/FastTree/FastTree
###IMPORTANT###
#the full path to the input queries in the format:
#arbitrary_gene_name	full_path_to_alignment
export queryFileName=/mnt/bigdata/linuxhome/jwolters/hmmer_pipelines/DAG-HmmerSearch/test/query_table.tab
#the full path to the proteins you want to search in the format:
#arbitrary_data_name	full_path_to_proteins	full_path_to_cds
export subjectFileName=/mnt/bigdata/linuxhome/jwolters/hmmer_pipelines/DAG-HmmerSearch/test/input_table.tab
